.container{
  margin: auto;
  width: 100%;
  max-width: 960px;
  background: yellow;
  margin-top: 25px;
}
.header{
  font-size: 30px;
  text-align: center;
  padding: 15px 0;
}
.main{
  background: red;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.inputTextarea{
  margin: 5px 0;
}
.inputButton{
  display: block;
}
