.container{
  margin: auto;
  width: 100%;
  max-width: 960px;
  height: 1000px;
  background: #ffedbf;  
  color: #9b2948;

}
.header{
  font-size: 30px;
  text-align: center;
  padding: 15px 0;
}
.main{
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}
.column-right, .column-left{
  width: 50%;
}
h2{
  text-align: center;
}
.inputTextarea{
  margin: 5px 0;
}
.inputButton{
  display: block;
  border-radius: 5px;
  background: #ff7251;
}

.delete-tweet{
  float: right;
  color: #ff7251;
}
.delete-tweet:hover{
  cursor: pointer;
}
li{
  list-style: none;
  margin-top: 8px;
  background: #ffcd74;
  padding: 5px;
  border-radius: 3px;
}